:root {
    --clr-dark: #070a12;
    --clr-light: #f9f9fb;
    --clr-accent: #f43f70;
    --clr-rgba: rgba(244, 63, 112, 0.2);
}

.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate.animate--infinite {
    animation-iteration-count: infinite;
  }
  
  .animate.animate--delay-1s {
    animation-delay: 1s;
  }
  
  .animate.animate--fast {
    animation-duration: 0.6s;
  }
  
  .animate.animate--slow {
    animation-duration: 3s;
  }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-30px);
    background-color: blueviolet;
    color: white;
}

@keyframes slideInLeft {
    from {
        transform:  translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.heading-1 {
    
}